*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.draggable-area{
    -webkit-app-region: drag;
}

html, :root, body {
  --primary-seach-color: rgba(255, 255, 255, .8);
  --secondary-search-color: rgba(255, 255, 255, .5);
  --primary-search-background: #304053;
  --secondary-search-background: rgba(0,0,0,.1);
  --highlight-border-width: 2px;
  --radius: 4px;

  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  /* height: 100%; */
  width: 100%;
  /* min-height: 100vh; */
  min-width: 100vh;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  border-radius: var(--radius);
  background: var(--primary-search-background);
}

textarea:focus, input:focus{
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
}

.search-container {
  /* border-radius: 8px; */
  overflow: hidden;
  width: 100%;
  color: var(--primary-seach-color);
  padding: 0;
  background: rgba(255,255,255,.1);
}

.search-input-container {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 1.25rem;
  height: 100px;
}

.search-input {
  /* background-color: inherit; */
  border: 0;
  display: block;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-size: 2.25rem;
  font-family: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.details-container {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.preview-container {

}

.result-container {
  padding: 0;
  margin: 0;
  background: var(--secondary-search-background);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result-container li {
  list-style: none;
  padding: 1.5rem .5rem;
  font-size: 1.5rem;
  width: 100%;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-left: var(--highlight-border-width) solid transparent;
}

.result-container .result-heading {
  font-size: 1rem;
  color: var(--primary-seach-color);
  margin-bottom: 0rem;
  display: block;
  line-height: 1;
}

.result-container .result-subtext {
  margin: 0;
  line-height: 1;
  font-size: .7rem;
  color: var(--secondary-search-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.result-container li:hover, .result-container li.active {
  border-left: var(--highlight-border-width) solid orange;
  background-color: rgba(225,225,255,0.05);
}

.search-filterline {
  padding: 0.25rem;
  width: 100%;
}

.search-filterline ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.search-filterline .filterline-entry {
  padding: 0.25rem;
  font-size: 0.75rem;
  color: var(--secondary-search-color);
  cursor: pointer;
}
