*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  min-width: 0;
  overflow-wrap: anywhere;
  white-space: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;

  &:focus {
    outline: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: 'Inter';
  src:
    local('Inter-Regular'),
    url(./assets/fonts/Inter-Regular.ttf) format('truetype');
  /* src: url('fonts/Inter-Regular.ttf') format('truetype'); */
  font-weight: 400;
  font-style: normal;
}

.draggable-area {
  cursor: grab;
  -webkit-app-region: drag;
}

$medium: 1024px;

:root {
  --primary-seach-color: rgba(255, 255, 255, 0.8);
  --secondary-search-color: rgba(255, 255, 255, 0.5);
  --primary-search-background: #304053;
  --secondary-search-background: rgba(0, 0, 0, 0.1);
  --highlight-border-width: 4px;
  --radius: 4px;
  --primary-accent-color: #ffa66b;

  --result-list-width: 50%;
  --preview-width: 50%;
  @media (min-width: $medium) {
    --result-list-width: 40%;
    --preview-width: 60%;
  }
}

:root,
body,
#root {
  font-family: 'Inter', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  background: transparent;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  border-radius: var(--radius);
  background: var(--primary-search-background);
}

.search-container {
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  color: var(--primary-seach-color);
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-select: none;
  position: relative;
  background: var(--secondary-search-background);

  .handle {
    display: block;
    width: 80px;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 8px;
    left: calc(50% - 40px);
    border-radius: 2px;
  }
}

.search-input-container {
  background: rgba(255, 255, 255, 0.1);
  user-select: none;
  padding: 1.25rem;

  .search-input {
    border: 0;
    display: block;
    width: 100%;
    font-size: 2.25rem;
    font-family: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
}

.details-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow-y: hidden;
  width: 100%;
  // height: 100%;
  // max-height: 100%;
  // flex-direction: row;
  padding: 0;
  margin: 0;
}

.preview-container {
  width: var(--preview-width);
  background-image: linear-gradient(
    45deg,
    hsl(240deg 100% 37%) 0%,
    hsl(329deg 100% 46%) 33%,
    hsl(20deg 100% 64%) 67%,
    hsl(55deg 100% 75%) 100%
  );
}

.preview-container img {
  width: 100%;
  height: auto;
}

.result-container {
  max-height: 100%;
  min-height: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 15rem;

  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5rem;
    width: 100%;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    border-left: var(--highlight-border-width) solid transparent;

    &.active {
      border-left: var(--highlight-border-width) solid orange;
      background-color: rgba(225, 225, 255, 0.05);
    }
  }

  .result-content {
  }
  .result-icon-container {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem 0.75rem 0.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .result-icon {
      margin: 0 auto;
      height: auto;
      min-width: 100%;
      max-width: 100%;

      margin: 0;
      padding: 0;
      display: block;
    }
  }

  .result-heading {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1rem;
    color: var(--primary-seach-color);
    margin: 0;
    padding: 0 0 0.25rem 0;
    line-height: 1.2;
  }

  .result-subtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    padding: 0 0 0.25rem 0;
    line-height: 1;
    font-size: 0.6rem;
    color: var(--secondary-search-color);
    white-space: nowrap;
  }

  .keyboard-shortcuts {
    color: var(--primary-accent-color);
    font-size: 0.8rem;
  }

  .keyboard-shortcut {
    display: block;
    width: 100%;
    line-height: 1;

    kbd {
      display: inline-block;
      margin: 0 0.2rem 0 0;
      padding: 0 0.33rem;
      font-size: 0.6rem;
      font-weight: bold;
      font-family: inherit;
      line-height: 1.5;
      background-color: rgba(var(--primary-accent-color), 0.15);
      border: 1px solid rgba(var(--primary-accent-color), 0.25);
      border-radius: 3px;
      white-space: nowrap;
    }
  }
}

.search-filterline {
  padding: 0.25rem;
  width: 100%;
}

.search-filterline ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.search-filterline .filterline-entry {
  padding: 0.25rem;
  font-size: 0.75rem;
  color: var(--secondary-search-color);
  cursor: pointer;
}

.shimmer-bg {
  animation-duration: 2.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #ddd;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 8%,
    rgba(255, 255, 255, 0.2) 18%,
    rgba(255, 255, 255, 0.1) 33%
  );
  background-size: 1200px 100%;
}

@-webkit-keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.action-selector {
  display: flex;
  padding: 0.5rem;
  background-color: var(--secondary-search-background);

  .action {
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;

    &.active,
    &:hover {
      // background-image: linear-gradient(
      //   to right,
      //   rgba(#ef5350, 0.2),
      //   rgba(#f9a825, 0.2),
      //   rgba(#43a047, 0.2),
      //   rgba(#eeff41, 0.2),
      //   rgba(#2196f3, 0.2),
      //   rgba(#26c6da, 0.2),
      //   rgba(#7e57c2, 0.2)
      // );
      background-size: 200px 50px;
      color: var(--primary-accent-color);
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(205, 205, 255, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.calculator {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  .calculator-number {
    color: var(--primary-accent-color);
  }
  .calculator-unknown {
  }
  .calculator-other {
  }
  .calculator-ident {
    font-weight: bold;
    color: var(--primary-search-background);
  }
  .calculator-whitespace {
  }
  .calculator-date {
  }
  .calculator-string {
  }
  .calculator-keyword {
  }
  .calculator-builtin-fn {
  }
  .calculator-boolean {
  }
}
